/* styles for my resume */

/*Job titles styling*/
.job-title {
    font-weight:600;
    font-size:1.5em 
}
/* Job organization styling*/
.job-organization {
    font-weight: 400;
    font-size: 1.5em;
}

/* Job dates styling*/
.job-dates {
    font-weight: 400; 
    font-style: italic; 
    font-size: 1em; 
}
/*Contact infor list items*/
.contact-info li{
    font-size: 1em; 
}
/*Education list items*/
.education lis {
    font-size: 1em; 
}
BODY {
font-family: 'Open Sans', arial, sans-serif;
font-size: 1em;
color:#444;
font-weight: 400;
margin:0 auto; 
} 

#container {
    width: 100%; 
    max-width: 1200px; 
    margin:0 auto; 
}

#name {
    font-size: 3em; 
    text-transform:uppercase; 
    text-align:center;
    color:#33485e;
    border-bottom: 1px solid #33485e;
    width:60%; 
    min-width: 300px; 
}

strong {
    color:#33485e;
    text-transform:uppercase;
    font-size:1.5em;
}

.sectionheader {
    font-size:1.5em; 
    text-transform:uppercase;
    background-color:#33485e;
    color:#fff;
    margin-top: 10px;
    margin-bottom: 20px; 
    margin-right: 0px;
    margin-left: 0px; 
    width: 70%; 
    min-width: 300px; 
}